<div class="fondo_componente">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="titulo-principal">
                <h2 class="titulo_componente animation1">DISEÑO WEB</h2>
            </div>
        </div>
    </div>
    <div class="servicio">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-1">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-5">
                <img class=" imagen-gabi img-fluid" src="assets/servicios/diseno-web.png"
                    alt="inteligencia de negocios">
                <br><br>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-5 prueba">
                <div class="servicio-contenido">
                    <b>Inicia tu presencia en internet</b>
                    <br><br>
                    <p>
                        El principal objetivo de una pagina web, no solo es mostrar direcciones y telefonos, en cambio
                        es mucho mas que eso.
                        <br><br>
                        El tener una web te brinda la oportunidad de estar en contacto constante con tus clientes, que
                        pueden consultarte en cualquier momento o ver tus productos y/o servicios a cualquier hora. Eso
                        les da confianza y seguridad.
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-1">
            </div>
        </div>
    </div>
    <div class="servicio">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-1">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-5">
                <div class="formulario-servicio thumbnail ">
                    <div class="form-title">
                        <h3>Solicitar <b>servicio</b></h3>
                    </div>
                    <div class="form-contenido thumbnail">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-input form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Nombre">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-input form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-input form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Celular">
                            </div>

                            <div class="form-outline">
                                <textarea class="form-input  form-control" id="textAreaExample1" placeholder="Mensaje"
                                    rows="4"></textarea>
                            </div>
                            <br>
                            <button pButton type="button" label="Enviar" class="boton-servicio"></button>
                        </form>
                        <br>
                    </div>
                </div>
                <br><br><br>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-5">
                <div class="servicio-contenido2">
                    <b>POR QUE NO DEPENDER DE LAS REDES SOCIALES?</b>
                    <br><br>
                    <p>
                        Las <b>redes sociales,</b> son una fuente de ventas muy buena, donde puedes
                        conversar con tus clientes, concretar entregas, demostrar productos, precios y colores.
                        <br><br>
                        Pero tambien existen muchas paginas de facebook fraudulentas. Una pagina web le da mas confianza
                        a tus clientes.
                        <br><br>
                        Rsoli te ofrece las mayores facilidades para tener tu página web y dar a conocer tu negocio al
                        mundo, o renovar la imagen de tu antigua página al mejor precio. Ofrecemos diferentes paquetes
                        adaptados a tus necesidades, facilidades de pago, alquiler web… Todo lo que sea necesario para
                        que,
                        a pesar de la crisis, puedas competir y seguir adelante.
                        <br><br>
                        A continuacion detallamos por qué es importante tener una pagina web.
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-1">
            </div>
        </div>
    </div>
    <div class="servicio-relleno">
        <div class="row">
            <div class="col-sm-12 col-md-1 col-lg-2"></div>
            <div class="col-sm-12 col-md-10 col-lg-8">
                <b>5 RAZONES POR LAS QUE TU NEGOCIO DEBE TENER UNA PÁGINA WEB </b>
                <br><br>
                <b>PARA TENER PRESENCIA EN INTERNET</b>
                <br><br>
                <p>
                    Hoy en día, el mejor escaparate para tu negocio es internet. Se calcula que a finales de año la
                    cifra de usuarios de internet a escala mundial ascenderá a 3000 millones. El mercado cada vez está
                    más globalizado y la competencia es más fuerte. Seguramente, esa competencia ya tiene su página
                    profesional. Tu imagen corporativa y tu página web son la cara visible de tu marca. Por eso tienen
                    que ser actuales y potentes.
                </p>
                <br>
                <b>PARA OFERCER ATENCIÓN AL CLIENTE 24H Y GENERAR FEEDBACK</b>
                <br><br>
                <p>
                    El tener una web te brinda la oportunidad de estar en contacto constante con tus clientes, que
                    pueden consultarte en cualquier momento o ver tus productos y/o servicios a cualquier hora. Eso les
                    da confianza y seguridad. Con una buena estrategia de comunicación en nuestra página, favoreceremos
                    el feedback con el cliente, el que pueda dejarnos su opinión, sus dudas, sus alabanzas y quejas. Es
                    importante respetar todas las opiniones y responder en todos los casos. Eso nos dará buena imagen
                    cuando nuevos clientes accedan a nuestro sitio.
                </p>
                <br>
                <b>PARA QUE TE ENCUENTREN</b>
                <br><br>
                <p>
                    Actualmente, el mayor porcentaje de búsqueda de profesionales se hace en internet. Cuando la gente
                    realiza esas búsquedas en la red es importante que nos encuentre en los primeros puestos, por eso la
                    importancia de un buen trabajo de posicionamiento SEO y de palabras clave previamente estudiado.
                    Diferénciate dentro de tu sector con una página sencilla, fresca y nueva. Dale credibilidad y añade
                    valor con un contenido siempre actualizado y de interés para tus clientes. Eso potenciará los
                    motores de búsqueda para que te encuentren más fácilmente.
                </p>
                <br>
                <b>PARA CONSEGUIR NUEVOS CLIENTES Y FIDELIZAR A LOS QUE YA TIENES</b>
                <br><br>
                <p>
                    Si hacemos un buen trabajo con la web, y aplicamos algunas técnicas sencillas de marketing online,
                    veremos como comienzan a contactarnos nuevos clientes. Podemos dirigirnos a nichos de mercado
                    concretos o baremos de edades, para obtener mayor efectividad. Si somos competitivos en nuestra
                    imagen y servicios, esas visitas se convertirán en clientes. También podemos usar esas técnicas para
                    fidelizar a nuestros clientes habituales, ofreciéndoles ventajas específicas pensando en sus
                    necesidades, y entreteniéndoles con contenidos de interés.
                </p>
                <br>
                <b>PARA CONSEGUIR PUBLICIDAD CON EL MAYOR ALCANCE AL MENOR COSTE</b>
                <br><br>
                <p>
                    Una página web es una manera de publicitarnos diariamente con un mínimo mantenimiento. Un anuncio
                    permanente que puede contar diferentes cosas según lo vayamos adaptando a las necesidades cambiantes
                    de nuestro público y que tiene un alcance mundial con un coste realmente bajo.


                </p>

            </div>
            <div class="col-sm-12 col-md-1 col-lg-2"></div>

        </div>
    </div>
</div>