<p-toast ></p-toast>
<div class="fondo_componente" style="padding: 20px; box-shadow: 0 2px 0px 0 rgb(0 0 0 / 12%), inset 0 -1px 0 0 #dadce0; ">
    <div style="padding: 50px;">
        <div class="row" >
            <div class="col-lg-12">
                <p class="tarjeta-titulo"> Lista de Vehículos </p>
            </div>
        </div>

        <p-table #dt [value]="lista_vehiculos" dataKey="id_cliente"
                [rows]="10" 
                [loading]="loading" 
                styleClass="p-datatable-lista_vehiculos"
                [paginator]="true" 
                [filterDelay]="0" 
                [responsive]="true"
                [globalFilterFields]="['placa','uniqueid','linea_gps','modelo_gps','nombre_departamento']"
                [rowHover]="true"
                >

                <ng-template pTemplate="caption">
                    <div class="row" >
                        <div class="col-lg-6" style="padding: 0px;margin: 0px;">
                            <button  pTooltip="Volver" tooltipPosition="top"  type="button" class="btn IconoEfecto transparente" (click)="Volver()">
                                <i style="color: #201a1a;font-weight: bold;"  class="pi pi-arrow-left imgzoom" ></i>
                            </button> 
                            <button  pTooltip="Nuevo" tooltipPosition="top"  type="button" class="btn IconoEfecto transparente" (click)="FormularioVehiculo(0)">
                                <i style="color: #3699FF;"  class="pi pi-file-o imgzoom" ></i>
                            </button> 

                            <button  pTooltip="Editar" tooltipPosition="top" type="button"  class="btn IconoEfecto transparente" (click)="FormularioVehiculo(-1)">
                                <i  class="far fa-edit imgzoom" style="color: #3CA934 "></i>
                            </button>
                            <button  pTooltip="Eliminar" tooltipPosition="top"  type="button"  class="btn IconoEfecto transparente" (click)="EliminarVehiculo()" >
                                <i   class="far fa-trash-alt bg imgzoom"  style="color: #F64E60;"></i> 
                            </button>
                            <!-- <button  pTooltip="Desactivar" tooltipPosition="top"  type="button"  class="btn IconoEfecto transparente" (click)="EliminarVehiculo()" >
                                <i   class="pi pi-lock imgzoom"  style="color: #acc21e;"></i> 
                            </button> -->
                        </div>
                        <div class="col-lg-6 d-flex justify-content-end">
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input style="border-radius: 15px; height: 100%;height: 100%;"  pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar" />
                            </span>    
                        </div>  
                    </div>
                </ng-template>

                <ng-template pTemplate="header" >
                    <tr>
                        <th>Nro</th>
                        <th pSortableColumn="placa">Placa<p-sortIcon field="placa"></p-sortIcon></th>
                        <th pSortableColumn="uniqueid">Imei<p-sortIcon field="uniqueid"></p-sortIcon></th>
                        <th pSortableColumn="modelo_gps">Modelo Gps<p-sortIcon field="modelo_gps"></p-sortIcon></th>
                        <th pSortableColumn="linea_gps">Línea gps<p-sortIcon field="linea_gps"></p-sortIcon></th>
                        <th pSortableColumn="nombre_departamento">Departamento<p-sortIcon field="nombre_departamento"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-lista_vehiculos let-rowIndex="rowIndex" >
                    <tr (click)="SeleccionarVehiculo(lista_vehiculos)" >
                        <td scope="persw">{{rowIndex+1}}</td>
                        <td>{{lista_vehiculos.placa}}</td>
                        <td>{{lista_vehiculos.uniqueid}}</td>
                        <td>{{lista_vehiculos.modelo_gps}}</td>
                        <td>{{lista_vehiculos.linea_gps}}</td>
                        <td>{{lista_vehiculos.nombre_departamento}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6">No hay datos para mostrar </td>
                    </tr>
                </ng-template>
                
        </p-table>

  
    </div>
</div>
