.map-frame {
  /* border: 2px solid black; */
  height: 700px;
  /* padding: 0%; */

}

#map {
  height: 100%;
  padding: 0%;
  width: 100%;
}
.mapa-margen{
  background-color: rgb(255, 255, 255);
  /* width: 100%; */
  padding:30px !important;
  margin: 10px;
  
}

