.header-container {
    display: flex; /* Usamos flexbox */
    justify-content: space-between; /* Distribuir los elementos entre los extremos */
    align-items: center; /* Alinear verticalmente */
    width: 100%; /* Asegurar que tome todo el ancho disponible */
    margin-bottom: 10px; /* Espacio entre el encabezado y los botones */
}

.buttons-container {
    display: flex;              /* Alinear los grupos de botones en una fila */
    justify-content: flex-start; /* Alinear los botones a la izquierda */
    align-items: center;        /* Centrar verticalmente */
    flex-wrap: wrap;           /* Permitir que los botones se envuelvan */
    gap: 10px;                 /* Espacio entre los botones */
}

/* Alinear el texto de los botones */
.button-group {
    display: flex;             /* Usar flex para alineación precisa */
    flex-direction: column;    /* Colocar el botón y texto verticalmente */
    align-items: center;       /* Alinear tanto el botón como el texto al centro */
    text-align: center;        /* Alinear el texto de los botones al centro */
}

/* Alinear los botones en columna en móviles */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column; /* Cambiar la dirección a columna en móviles */
        align-items: flex-start; /* Alinear elementos al inicio */
    }
    .buttons-container {
        justify-content: flex-start; /* Alinear botones al inicio */
    }
}



    


// summary
.summary-row {
    font-weight: bold;
    background-color: #f0f0f0;
    color: #333;
}


.capitalize-first-letter {
    font-size: 10px; /* Tamaño de fuente más grande */
    text-transform: lowercase; /* Convierte todo el texto a minúsculas */
    font-weight: bold; /* Negrita para el título */
}
    
.capitalize-first-letter::first-letter { /*  no se llama a la clase desde html es utilizado automaticamtne desde html se usa la clase capitalize-first-letter */
    text-transform: uppercase; /* Convierte solo la primera letra a mayúscula */
}
.modal-title {
    font-weight: bold; /* Esto hará que el texto sea negrita */
    margin-right: 5px;
}