<div class="fondo_componente">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="titulo-principal">
                <h2 class="titulo_componente">DESARROLLO DE SOFTWARE</h2>
            </div>
        </div>
    </div>
    <div class="servicio">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-2">
            </div>
            <div class="col-sm-12 col-md-10 col-lg-8 prueba">
                <div class="row servicio-contenido">
                    <b style="text-transform: uppercase;">Utiliza todos los beneficio de la tecnología en tu
                        negocio</b>
                    <div class="col-md-6">
                        <img class="imagen-gabi img-fluid" src="assets/servicios/desarrollo-software.png"
                            alt="Desarrollo de software en Bolivia">
                    </div>
                    <div class="col-md-6">
                        <div class="">
                            <br><br>
                            <p style="text-align: left;">
                                Con nuestros servicios, tu negocio pasará al siguiente
                                nivel.
                                <br><br>
                                Automatiza tus procedimientos y obtén resultados estadísticos precisos.
                                <br><br>
                                Existen muchos sistemas y aplicaciones que podrían ser útiles para tu empresa, pero
                                utilizar un
                                software hecho a la medida de las necesidades de tu negocio va enfocado al crecimiento
                                asegurado, que tu negocio necesita.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-12 col-md-1 col-lg-2">
            </div>
        </div>
    </div>
    <div class="servicio">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-2">
            </div>
            <div class="col-sm-12 col-md-10 col-lg-8 prueba">
                <div class="row">
                    <div class="col-md-6">
                        <div class="servicio-contenido">
                            <div class="form-contenido thumbnail">
                                <p>Nos encantaría escucharte y saber lo que necesitas</p>
                                <img class=" imagen-gabi img-fluid" src="assets/logo/logo-centreado.jpg"
                                    alt="Desarrollo de software en Bolivia" height=50>
                                <p>DESARROLLO DE SOFTWARE</p>
                                <br>
                                <a href="https://wa.link/ede14q" type="button" class="boton-servicio">Solicitar
                                    servicio</a>
                                <br><br>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="servicio-contenido">
                            <br>
                            <b style="text-transform: uppercase;">¿Por qué contratarnos?</b>
                            <br><br>
                            <p>
                                No dudamos que la forma tradicional en la que manejas tu negocio o emprendimiento
                                resulto bueno,
                                pero déjanos decirte que podría estar mucho mejor.
                                <br><br>
                                Grandes empresas exitosas evolucionaron gracias al buen uso de la tecnología.
                                <br><br>
                                En rsoli, tenemos 4 etapas para el desarrollo de tu aplicacion web que son:
                                <br><br>
                                1. Reunión de requerimientos.
                                <br><br>
                                2. Presentación de un prototipo.
                                <br><br>
                                3. tiempo de desarrollo.
                                <br><br>
                                4. Pruebas y entrega.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-1 col-lg-2">
            </div>
        </div>
    </div>
</div>