<p-toast ></p-toast>
<div class="fondo_componente" style="padding: 20px; box-shadow: 0 2px 0px 0 rgb(0 0 0 / 12%), inset 0 -1px 0 0 #dadce0; ">
    <div style="padding: 50px;">
        <div class="row" >
            <div class="col-lg-12">
                <p class="tarjeta-titulo"> Lista de clientes </p>
            </div>
        </div>

        <p-table #dt [value]="lista_clientes" dataKey="id_cliente"
                [rows]="10" 
                [loading]="loading" 
                styleClass="p-datatable-lista_clientes"
                [paginator]="true" 
                [filterDelay]="0" 
                [responsive]="true"
                [globalFilterFields]="['nombre','apellido_paterno','apellido_materno']"
                [rowHover]="true"
                >

                <ng-template pTemplate="caption">
                    <div class="row" >
                        <div class="col-lg-6" style="padding: 0px;margin: 0px;">
                            <button  pTooltip="Nuevo" tooltipPosition="top"  type="button" class="btn IconoEfecto transparente" (click)="FormularioCliente(0)">
                                <i style="color: #3699FF;"  class="pi pi-file-o imgzoom" ></i>
                            </button> 

                            <button  pTooltip="Editar" tooltipPosition="top" type="button"  class="btn IconoEfecto transparente" (click)="FormularioCliente(-1)">
                                <i  class="far fa-edit imgzoom" style="color: #3CA934 "></i>
                            </button>
                            <button  pTooltip="Eliminar" tooltipPosition="top"  type="button"  class="btn IconoEfecto transparente" (click)="EliminarCliente()" >
                                <i   class="far fa-trash-alt bg imgzoom"  style="color: #F64E60;"></i> 
                            </button>  
                            <button  pTooltip="Vehículos" tooltipPosition="top"  type="button"  class="btn IconoEfecto transparente" (click)="ListaVehiculo()" >
                                <i class='fas fa-car-side imgzoom' style="color: #40a1d1;"></i>
                            </button>  
                            <button  pTooltip="Pagos" tooltipPosition="top"  type="button"  class="btn IconoEfecto transparente" (click)="EliminarCliente()" >
                                <i class='pi pi-dollar imgzoom' style="color: #d18534;font-weight: bold;"></i>
                            </button>  
                            <!-- <button pTooltip="Pdf" tooltipPosition="top" type="button"  class="btn IconoEfecto transparente">
                                <i  class="pi pi-file-pdf imgzoom" style="color: #ff8400;" ></i>
                            </button> -->
                        </div>
                        <div class="col-lg-6 d-flex justify-content-end">
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input style="border-radius: 15px; height: 100%;height: 100%;"  pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar" />
                            </span>    
                        </div>  
                    </div>
                </ng-template>

                <ng-template pTemplate="header" >
                    <tr>
                        <th>Nro</th>
                        <th pSortableColumn="nombre">Cliente<p-sortIcon field="nombre"></p-sortIcon></th>
                        <th pSortableColumn="fecha_fin_servicio">Fecha fin servicio<p-sortIcon field="fecha_fin_servicio"></p-sortIcon></th>
                        <th pSortableColumn="fecha_reg">Fecha reg<p-sortIcon field="fecha_reg"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-lista_clientes let-rowIndex="rowIndex" >
                    <tr (click)="SeleccionarCliente(lista_clientes)" >
                        <td scope="persw">{{rowIndex+1}}</td>
                        <td>{{lista_clientes.nombre}} {{lista_clientes.apellido_paterno}} {{lista_clientes.apellido_materno}}</td>
                        <td>{{lista_clientes.fecha_fin_servicio}}</td>
                        <td>{{lista_clientes.fecha_reg}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6">No hay datos para mostrar </td>
                    </tr>
                </ng-template>
                
        </p-table>

  
    </div>
</div>