<div class="fondo_componente">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="titulo-principal">
                <h2 class="titulo_componente">INTELIGENCIA DE NEGOCIOS</h2>

            </div>
        </div>
    </div>
    <div class="servicio">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-1">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-5">
                <img class="img-fluid" src="assets/servicios/inteligencia-de-negocios.png"
                    alt="inteligencia de negocios">
                <br><br><br>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-5 prueba">
                <div class="servicio-contenido">
                    <br>
                    <h4>Mide el estado actual de tu negocio o emprendimiento</h4>
                    <br>
                    <p>Con nuestro servicio tendrás los análisis de datos necesarios del estado actual que tu negocio o
                        emprendimiento necesita en resultados estadísticos para la toma de decisiones y competir en el
                        mercado de la forma mas efectiva como debería ser.
                        <br><br>
                        “El Business Intelligence analiza miles de datos para conocer las fortalezas y debilidades de
                        las
                        empresas”
                        <br><br>
                        Toda esta información que el Business Intelligence analiza viene de la mano de otra de las
                        grandes
                        revoluciones que las nuevas tecnologías han acercado al sector empresarial: el Big Data.
                        <br><br>
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-1 col-lg-1">
            </div>
        </div>
    </div>
    <section class="servicio">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-1">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-5">
                <div class="formulario-servicio thumbnail ">
                    <div class="form-title">
                        <h3>Solicitar <b>servicio</b></h3>
                    </div>
                    <div class="form-contenido thumbnail">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-input  form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Nombre">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-input  form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-input  form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Celular">
                            </div>
                            <div class="form-outline">
                                <textarea class="form-input  form-control" id="textAreaExample1" placeholder="Mensaje"
                                    rows="4"></textarea>
                            </div>
                            <br>
                            <button pButton type="button" label="Enviar"
                                style="font-weight: bold; border-radius: 50px;"><i class="pi pi-envelope"
                                    style="font-size: 1rem; width: 30px; font-weight: bold;"></i></button>
                        </form>
                        <br>
                    </div>
                </div>
                <br><br><br>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-5">
                <div class="solicitar-servicio-texto">
                    <h4>¿Sabíasque el Big Data recopila los datos y el Business Intelligence los analiza?</h4>
                    <br><br>
                    <p>Fases de la inteligencia de negocios (Business intelligence)
                        <br><br>
                        1 Observación
                        <br><br>
                        2 Comprensión
                        <br><br>
                        3 Predicción
                        <br><br>
                        4 Colaboración
                        <br><br>
                        5 Desición colocar imágenes de estadísticas y dashborards
                        <br><br>
                        A continuación detallamos cada uno de estos puntos.
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-1">
            </div>
        </div>
    </section>
    <section class="servicio-relleno">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h2 class="texto-responsivo">FASES DE LA INTELIGENCIA DE NEGOCIOS (BUSINESS INTELIGENCE)</h2>
                <br>
                <h3>Observación</h3>
                <br>
                <p>¿Qué está ocurriendo alrededor de la empresa? El Business Intelligence empieza su proceso como un
                    potente elemento observador. Gracias a su trabajo en conjunto con el Big Data, una gran cantidad de
                    información puede ser tratada para su análisis. Información que a veces no parece tener relación con
                    la estrategia final de la empresa, pero que esta herramienta utiliza para darle ese punto de ventaja
                    y diferencia respecto a los instrumentos convencionales de análisis de información.</p>
                <br>
                <h3>Comprensión</h3>
                <br>
                <p>Poder acceder a grandes cantidades de información no es relevante si no somos capaces de
                    comprenderla. Por eso, el Business Intelligence ofrece un análisis profundo de la información que
                    obtiene gracias a cruces de datos.</p>
                <br>
                <h3>Predicción</h3>
                <br>
                <p>Además de observar y comprender, esta nueva tecnología es capaz de predecir qué ocurriría si el
                    escenario de aplicación de la empresa se viera modificado por alguna causa externa. Y es que, los
                    mercados son elementos en constante cambio y poder predecir estos cambios da a las empresas un punto
                    de tranquilidad y serenidad extra.</p>
                <br>
                <h3>Colaboración</h3>
                <br>
                <p>Cuando el resultado del análisis de los datos ya es una realidad, la colaboración entre los equipos
                    de trabajo de las empresas es necesaria. Es esta fase la más crucial de todas, ya que la
                    interpretación de estos datos dará a la empresa el éxito o el fracaso en sus estrategias.</p>
                <br>
                <h3>Desición</h3>
                <br>
                <p>
                    Es el último paso del proceso, el más esperado. En la fase de la decisión, la empresa muestra el
                    resultado del análisis de los datos con todas sus interpretaciones y simulaciones y, en base a estas
                    deducciones, decide hacia donde encaminar las nuevas estrategias de la empresa. Cada vez son más las
                    empresas que apuestan por aplicar las técnicas que ofrecen las nuevas tecnologías y que están
                    revolucionando las estrategias empresariales por la capacidad que otorgan de conocer más a clientes,
                    competidores y a la propia empresa.
                </p>
                <br><br>
                <p>
                    “La información es la gasolina del siglo XXI, y la analítica de datos el motor de combustión” Peter
                    Sondergaard
                </p>
            </div>
            <div class="col-md-2"></div>

        </div>
    </section>

</div>