<div header="Hero card">
    <div class="card">
		<div class="grid grid-nogutter text-800">
			<div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
				<section>
					<h4 class="block font-bold mb-1">SOBRE NOSOTROS</h4>
					<p class="mt-0 mb-4 text-700 line-height-3">
						Somos un equipo de jóvenes emprendedores bolivianos, apasionados por la tecnología y la innovación, comprometidos en crear soluciones de software personalizadas con rapidez y eficiencia
					</p>
				</section>
			</div>
			<div class="col-12 md:col-6 overflow-hidden flex align-items-center justify-content-center">
				<img [src]="'assets/varios/equipos.svg'" class="my-3 mx-0" alt="Rastreo satelital kolosu" style="width: 55%; display: block;"/>
			</div>
		</div>
	</div>
</div>
<br>
<div class="grid">
	<div class="col-12 md:col-6">
		<div class="card">
			<h5>Misión</h5>
			<div class="flex flex-wrap gap-2">
                <p>Nuestra misión es proporcionar soluciones de software personalizadas que empoderen a nuestros clientes bolivianos y del extranjero, aprovechando tecnologías innovadoras y adaptativas. Nos comprometemos a impulsar su competitividad y productividad, creando valor tangible a través de un servicio excepcional y un enfoque centrado en el cliente
				</p>
				
			</div>
		</div>

	</div>
	<div class="col-12 md:col-6">
		<div class="card">
			<h5>Visión</h5>
			<div class="flex flex-wrap gap-2">
                <p>Ser una empresa líder en desarrollo de tecnologías, reconocidos a nivel nacional e internacional por proporcionar soluciones optimas con una constante mejora, adaptadas a las necesidades de nuestros clientes en tiempo record.</p>
				
			</div>
		</div>

		
	</div>
</div>