<div header="Hero card">
    <div class="card">
		<div class="grid grid-nogutter text-800">
			<div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
				<section>
					<span class="block text-6xl font-bold mb-1">SOBRE NOSOTROS</span>
					<p class="mt-0 mb-4 text-700 line-height-3">
						Somos un grupo de jóvenes emprendedores, dedicados a crear soluciones innovadoras en tiemop record.
					</p>
				</section>
			</div>
			<div class="col-12 md:col-6 overflow-hidden flex align-items-center justify-content-center">
				<img [src]="'assets/varios/equipo.svg'" class="my-3 mx-0" alt="Rastreo satelital kolosu" style="width: 70%; display: block;"/>
			</div>
		</div>
	</div>
</div>
<br>
<div class="grid">
	<div class="col-12 md:col-6">
		<div class="card">
			<h5>Misión</h5>
			<div class="flex flex-wrap gap-2">
                <p>Somos un grupo de profesionales que brinda soluciones de software a medida, enfocados en las tecnologías más innovadoras y adaptables a las necesidades de cada cliente, con el objetivo principal de incrementar su competitividad, productividad y éxito.</p>
				
			</div>
		</div>

	</div>
	<div class="col-12 md:col-6">
		<div class="card">
			<h5>Visión</h5>
			<div class="flex flex-wrap gap-2">
                <p>SSer una empresa líder en desarrollo de tecnologías, reconocidos a nivel nacional e internacional por proporcionar soluciones optimas con una constante mejora, adaptadas a las necesidades de nuestros clientes en tiempo record.</p>
				
			</div>
		</div>

		
	</div>
</div>