<p-toast ></p-toast>
<div class="fondo_componente" style="padding: 20px; box-shadow: 0 2px 0px 0 rgb(0 0 0 / 12%), inset 0 -1px 0 0 #dadce0; ">
    <div style="padding: 50px;">
        <div class="row" >
            <div class="col-lg-12">
                <p class="tarjeta-titulo"> Lista de servicios </p>
            </div>
        </div>

        <p-table #dt [value]="lista_servicios" dataKey="id_tipo_servicio"
                [rows]="10" 
                [loading]="loading" 
                styleClass="p-datatable-lista_servicios"
                [paginator]="true" 
                [filterDelay]="0" 
                [responsive]="true"
                [globalFilterFields]="['tipo_servicio','costo_total']"
                [rowHover]="true"
                >

                <ng-template pTemplate="caption">
                    <div class="row" >

                        <div class="col-lg-6" style="padding: 0px;margin: 0px;">
                            <button  pTooltip="Volver" tooltipPosition="top"  type="button" class="btn IconoEfecto transparente" (click)="Volver()">
                                <i style="color: #201a1a;font-weight: bold;"  class="pi pi-arrow-left imgzoom" ></i>
                            </button>
                            <button  pTooltip="Nuevo" tooltipPosition="top"  type="button" class="btn IconoEfecto transparente" (click)="FormularioServicio(0)">
                                <i style="color: #3699FF;"  class="pi pi-file-o imgzoom" ></i>
                            </button> 

                            <button  pTooltip="Editar" tooltipPosition="top" type="button"  class="btn IconoEfecto transparente" (click)="FormularioServicio(-1)">
                                <i  class="far fa-edit imgzoom" style="color: #3CA934 "></i>
                            </button>
                            <button  pTooltip="Eliminar" tooltipPosition="top"  type="button"  class="btn IconoEfecto transparente" (click)="EliminarServicio()" >
                                <i   class="far fa-trash-alt bg imgzoom"  style="color: #F64E60;"></i> 
                            </button>  
                            <!-- <button  pTooltip="Vehículos" tooltipPosition="top"  type="button"  class="btn IconoEfecto transparente" (click)="ListaVehiculo()" >
                                <i class='fas fa-car-side imgzoom' style="color: #40a1d1;"></i>
                            </button>     -->
                        </div>
                        <div class="col-lg-6 d-flex justify-content-end">
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input style="border-radius: 15px; height: 100%;height: 100%;"  pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar" />
                            </span>    
                        </div>  
                    </div>
                </ng-template>

                <ng-template pTemplate="header" >
                    <tr>
                        <th>Nro</th>
                        <th pSortableColumn="nombre">Tipo Servicio<p-sortIcon field="tipo_servicio"></p-sortIcon></th>
                        <th pSortableColumn="costo_total">Precio<p-sortIcon field="costo_total"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-lista_servicios let-rowIndex="rowIndex" >
                    <tr (click)="SeleccionarServicio(lista_servicios)" >
                        <td scope="persw">{{rowIndex+1}}</td>
                        <td>{{lista_servicios.tipo_servicio}}</td>
                        <td>{{lista_servicios.costo_total}} Bs</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6">No hay datos para mostrar </td>
                    </tr>
                </ng-template>
                
        </p-table>

  
    </div>
</div>