
<div class="card">
    <div class="card-container yellow-container overflow-hidden">
        <div class="flex">
            <div class="flex-1 flex align-items-center justify-content-center font-bold text-gray-900 m-2 px-5 py-3 border-round">
                <br><br><br>
                <img src="./assets/logos/logoBlanco.png" height="70" class="mr-2">
            </div>
        </div>



        <div class="card">
            <div class="flex flex-wrap card-container blue-container" >
                <div class="flex align-items-center justify-content-center font-bold text-white m-2 border-round" style="min-width: 200px; min-height: 100px">
                    SOBRE NOSOTROS
                    <br><br>
                        Somos un grupo de profesionales, 
                        creadores en soluciones de software <br>
                        a medida, enfocados en las tecnologías 
                        más innovadoras y adaptables a las <br>
                        necesidades de cada cliente en 
                        tiempo record.
                </div>
                <div class="flex align-items-center justify-content-center font-bold text-white m-2 border-round" style="min-width: 200px; min-height: 100px">
                    UBICACIÓN
                    <br><br>
                    Dirección 
                    <br>
                    Av. Blanco Galindo Km 8.5 Una cuadra al norte
                    
                    Calle Junin <br> Colcapirhua
                </div>
                <div class="flex align-items-center justify-content-center font-bold text-white m-2 border-round" style="min-width: 200px; min-height: 100px">
                    CONTACTO
                    <br><br>
                    Teléfonos
                    +591 72276601
                    <br>
                    Correo
                    info@kolosu.com
                </div>
            </div>
           
        </div>




        
        <div class="flex">
           
            <div class="flex-1 flex align-items-center justify-content-center font-bold text-gray-900 m-2 px-5 py-3 border-round">
                <div class="inline" style="text-align: center;">
                    <a href="https://www.facebook.com/rsoli.bolivia" target=”_blank”><img
                            src="assets/redes_sociales/facebook.svg" alt="logo rsoli.com " height="50"
                            class="imgzoom img-redsocial"></a>
                    <a href=""><img src="assets/redes_sociales/instagram.svg" target=”_blank”
                            alt="logo rsoli.com " height="50" class="imgzoom img-redsocial"></a>
                    <a href=""><img src="assets/redes_sociales/tiktok.svg" target=”_blank” alt="logo rsoli.com "
                            height="50" class="imgzoom img-redsocial"></a>
                    <a href=""><img src="assets/redes_sociales/youtube.svg" target=”_blank” alt="logo rsoli.com "
                            height="50" class="imgzoom img-redsocial"></a>
                    <a href="https://wa.link/midcpa" target=”_blank”><img src="assets/redes_sociales/whatsapp.svg"
                            alt="logo rsoli.com " height="50" class="imgzoom img-redsocial"></a>
                </div>
            </div>
        </div>

        <div class="flex">
           
            <div class="flex-1 flex align-items-center justify-content-center font-bold text-gray-900 m-2 px-5 py-3 border-round" style="color: #fff;">
                <span style="color:#fff;">
                    &copy;
                    <b href="#" style="color: #fff !important;"> Kolosu, 2022</b>
                </span>
            </div>
        </div>
    </div>
</div>
