<div class="grid" >
    <div class=" lg:col-6 md:col-12 sm:col-6 flex align-items-center justify-content-center">
        <div class="inicio-contenido1">
            <h2 style="color: #fff;">RASTREO SATELITAL PARA TUS <b class="tituloVerde">SERES QUERIDOS</b></h2>
            <P style="color: #fff;">
                La prevención siempre es mejor que una mala noticia, <br>
                Cuida a tus seres queridos y conoce su ubicación exacta
                en tiempo real.
            </P>
            <button pButton type="button" style="font-weight: 600 !important; font-size: 20px;">Pedir una Demo</button>
        </div>
            
    </div>
    <div class="lg:col-6 md:col-12 sm:col-6 flex align-items-center justify-content-center" style="margin-top: 90px;margin-bottom:90px;">
        <div class="inicio-contenido2">
            <img src="./assets/banner/famili.png" alt="Rastreo satelital" >
        </div>
    </div>
</div>


