<div header="Hero card">
    <div class="card">
		<div class="grid grid-nogutter text-800">
			<div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
				<section>
					<span class="block text-6xl font-bold mb-1">DESARROLLO DE SOFTWARE </span>
					<div class="text-6xl text-primary font-bold mb-3">A MEDIDA</div>
                    <button pButton pRipple label="Comprar servicio" type="button" class="mr-3 p-button-raised"></button>
					<button pButton pRipple label="Solicitar una Demo" type="button" class="p-button-outlined"></button>
				</section>
			</div>
			<div class="col-12 md:col-6 overflow-hidden flex align-items-center justify-content-center">
				<img [src]="'assets/servicios/software.svg'" class="my-3 mx-0" alt="Rastreo satelital kolosu" style="width: 50%; display: block;"/>
			</div>
		</div>
	</div>
</div>
<br>
<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6 flex align-items-center justify-content-center">
                    <div class="grid">
                        <div class="col-12 ">
                            <div class="pl-6 pr-6 pt-1 pt-5">
                                <h3 style="font-weight: bold;">A QUÉ SE DEDICA TU NEGOCIO?</h3>
                                <p>
                                <b class="text-primary font-bold mb-3">Utilizemos la tecnología a tu favor </b><br><br>
                                Te ayudamos a optimizar los tiempos en tus procesos de venta, administración, y reportes para medir el estado actual de tu negocio muy necesarios para la toma de desiciones.
                                </p>
                                
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="pl-6">
                                <button pButton pRipple label="Solicitar una Demo" type="button" class="mr-3 p-button-raised"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field col-12 md:col-6 flex align-items-center justify-content-center">
                    <img [src]="'assets/varios/negocios.svg'" class="my-3 mx-0" alt="Rastreo satelital kolosu" style="width: 80%; display: block;"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
    <div class="mb-3 font-bold text-2xl">
        <span class="text-900">Como adquirir el </span>
        <span class="text-blue-600">servicio?</span>
    </div>
    <div class="text-700 text-sm mb-6">Sigue los siguientes pasos</div>
    <div class="grid">
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 mb-3 font-medium">1. BREVE REUNIÓN</div>
            <span class="text-700 text-sm line-height-3">
                Realizamos una breve reunión virtual o presencial donde reunimos las prioridades de tu negocio y sistematizamos los procesos que sigues para tus objetivos.
                <br>
            </span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-lock text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 mb-3 font-medium">2.PRESENTACIÓN DE PROPUESTA</div>
            <span class="text-700 text-sm line-height-3">
                Te mostramos nuestras aplicaciones, el funcionamiento y las interfaces para que puedas elejir el de tu preferencia. 
                <br>
                Agendamos una fecha de entrega con las modificaciones que tu negocio requiere.
            </span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-check-circle text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 mb-3 font-medium">3. ENTREGA</div>
            <span class="text-700 text-sm line-height-3">
                Entregamos la primera versión para que tu realices las pruebas necesarias para aprobar el funcionamiento.
                
            </span>
        </div>
        
    </div>
</div>
<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
    <div class="text-900 font-bold text-6xl mb-4 text-center">PRECIOS</div>
    <div class="text-700 text-xl mb-6 text-center line-height-3">Precios optimizados, dando prioridad a lo que tu negocio necesita.</div>

    <div class="grid">
        <div class="col-12 lg:col-4">
            <div class="p-3 h-full">
                <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
                    <div class="text-900 font-medium text-xl mb-2">Basic</div>
                    <div class="text-600">Pagina web con carrito de compras</div>
                    <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                    <div class="flex align-items-center">
                        <span class="font-bold text-2xl text-900">Bs 100</span>
                        <span class="ml-2 font-medium text-600">Pago único</span>
                    </div>
                    <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                    <ul class="list-none p-0 m-0 flex-grow-1">
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2"></i>
                            <span>Galería digital de productos para la venta</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2"></i>
                            <span>Agrupación por categorías</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2"></i>
                            <span>Ventas por WhatsApp</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2"></i>
                            <span>Control de inventario básico</span>
                        </li>
                    </ul>
                    <hr class="mb-3 mx-0 border-top-1 border-none surface-border mt-auto" />
                    <button pButton pRipple label="Buy Now" class="p-3 w-full mt-auto"></button>
                </div>
            </div>
        </div>

        <div class="col-12 lg:col-4">
            <div class="p-3 h-full">
                <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
                    <div class="text-900 font-medium text-xl mb-2">Premium</div>
                    <div class="text-600">App web de ventas e inventario</div>
                    <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                    <div class="flex align-items-center">
                        <span class="font-bold text-2xl text-900">Bs 2000</span>
                        <span class="ml-2 font-medium text-600">Anual</span>
                    </div>
                    <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                    <ul class="list-none p-0 m-0 flex-grow-1">
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2"></i>
                            <span>Página web con galeria de productos para la venta</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2"></i>
                            <span>Inventario con reportes de stock</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2"></i>
                            <span>Carrito de compras</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2"></i>
                            <span>Interfaz Administrador y vendedor (Control de roles)</span>
                        </li>
                    </ul>
                    <hr class="mb-3 mx-0 border-top-1 border-none surface-border" />
                    <button pButton pRipple label="Buy Now" class="p-3 w-full"></button>
                </div>
            </div>
        </div>

        <div class="col-12 lg:col-4">
            <div class="p-3 h-full">
                <div class="shadow-2 p-3 flex flex-column surface-card" style="border-radius: 6px">
                    <div class="text-900 font-medium text-xl mb-2">Enterprise</div>
                    <div class="text-600">App web de ventas, inventario con control de empleados</div>
                    <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                    <div class="flex align-items-center">
                        <span class="font-bold text-2xl text-900">Bs 5000</span>
                        <span class="ml-2 font-medium text-600">Anual</span>
                    </div>
                    <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                    <ul class="list-none p-0 m-0 flex-grow-1">
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2"></i>
                            <span>Arcu vitae elementum</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2"></i>
                            <span>Dui faucibus in ornare</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2"></i>
                            <span>Morbi tincidunt augue</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2"></i>
                            <span>Duis ultricies lacus sed</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2"></i>
                            <span>Imperdiet proin</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2"></i>
                            <span>Nisi scelerisque</span>
                        </li>
                    </ul>
                    <hr class="mb-3 mx-0 border-top-1 border-none surface-border" />
                    <button pButton pRipple label="Buy Now" class="p-3 w-full p-button-outlined"></button>
                </div>
            </div>
        </div>
    </div>
</div>


 