<div class="card">

    <p-toast></p-toast> 

    <app-loading [loading]="loading"></app-loading>
   
    <app-tabla-dinamica
      titleTable="Lista de choferes"
      [filterTable]="false"
      [paginator]="true"
      [toolbar]="true"
      [buttonNew]="true"
      [buttonEdit]="true"
      [buttonDelete]="true"
      (selected)="seleccionarChofer($event)"
      (Unselect)="deshacerSeleccionChofer($event)"
      [buttons]="toolbarButtons" (buttonClick)="handleButtonClick($event)"

      [columns]="columnas_chofer"
      [data]="lista_choferes"
      (formSave)="guardarChofer($event)"
      (delete)="eliminarChofer($event)"
      >
    </app-tabla-dinamica> 

</div>

