.fondo{
    height: 750px;
    margin: 0px !important;
    padding: 0px !important;
    background: linear-gradient( 35deg, #000D37,#01538B, #26FAFA); 
}
.fondo-footer{
    background-color: #000D37;
}
.container{
    padding-left: 10%;padding-right: 10%;
}

