<div class="fondo">
    <div class="container">

        <div class="contenido">
            <app-header></app-header>
            <router-outlet></router-outlet>
        </div>
    </div>
    
</div>
 <div class="container">
    <app-servicios></app-servicios>
</div>

<div class="fondo-footer">
    <div class="container">
        <app-servicios2></app-servicios2>
    </div>
</div>

<div class="">
    <div class="container">
        <app-servicios3></app-servicios3>
    </div>
</div>
<div class="fondo-footer">
    <div class="container">
        <app-servicios4></app-servicios4>
    </div>
</div>

<div class="">
    <div class="container">
        <app-contacto></app-contacto>
    </div>
</div>

<div class="fondo-footer">
    <div class="container">
        <div class="footer">
            <app-footer></app-footer>
        </div>
    </div>
</div>
