
.margen2{
background-color: rgb(255, 255, 255);
margin: 10px;
height: 370px;
}
.margen-mapa{
padding:10px !important;
}
  
/*#mapgeo {
    height: 500px;
    padding: 0%;
    width: 500px;
  }
*/
.margen-mapa{
padding:10px !important;
}
#mapgeo {
height: 100%;
padding: 0%;
width: 100%;
z-index: 1;
}
@media only screen and (max-width: 738px) {
.margen2{
    background-color: rgb(255, 255, 255);
    margin: 10px;
    height: 370px;
}
} 