
<div class="grid" style="margin-top: 50px;margin-bottom: 50px;">
    <div class=" lg:col-6 md:col-12 sm:col-6 flex align-items-center justify-content-center">
            <div class="inicio-contenido2">
                <div class="map-responsive">
                    <iframe style="width: 100%;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4784.288328315216!2d-66.24110350032339!3d-17.389502690620848!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6c4785ff1ea582af%3A0x9af1f71707e5e863!2sKolosu%2C%20Servicio%20de%20rastreo%20satelital!5e0!3m2!1ses-419!2sbo!4v1669694004942!5m2!1ses-419!2sbo"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <!-- <iframe
                    
                        src="https://goo.gl/maps/tAW2PUQN79DPxTNK8"
                        frameborder="0" style="border:0" allowfullscreen></iframe> -->
                </div>
            </div>
    </div>
    <div class="lg:col-6 md:col-12 sm:col-6 flex align-items-center justify-content-center">
        <div class="inicio-contenido1">
            <h2>SOLICITA UNA <b class="tituloVerde">DEMOSTRACIÓN </b>GRATIS!</h2>
            <P>Cada día miles de autos son reportados como robados a nivel mundial!
            <br>
            es momento de tomar acción! 
            <br><br>
            Con el servicio de rastreo satelital ten el control de tu motorizado 24/7
            <br>
            en tiempo real.
            <br><br>
            Prueba nuestro sistema, escríbenos a nuestro WhatsApp con un click en 
            <br>
            el siguiente botón.</P>
            <button pButton type="button" style="font-weight: 600 !important; font-size: 20px;">Pedir una Demo</button>
        </div>
    </div>
</div>

