<p-menubar [model]="items">

    <ng-template pTemplate="start">
        <img src="assets/logo/logoRsoli.svg" height="55" class="imgzoom "
            style="width: 100px; height: 100px; height: 50px; ">
    </ng-template>

    <ng-template pTemplate="end">

        <i class="pi pi-align-justify imgzoom" style="font-size: 2rem;margin-left: 20px; "></i>
        <button style="margin-left: 20px;margin-right: 10px;" pButton pRipple type="button" icon="pi pi-user"
            class="p-button-rounded p-button-info imgzoom"></button>

    </ng-template>

</p-menubar>