<p-menubar [model]="items">
    <ng-template pTemplate="start">
        <div style="width: 110px;">
            <img routerLink="shared/slider" src="./../../../assets/logo/logoRsoli.png" height="40" class="imgzoom "
                style="width: 110px; height: 99px; height: 50px; ">
        </div>
    </ng-template>
    <ng-template pTemplate="end">
        <!-- <i class="pi pi-align-justify imgzoom" style="font-size: 2rem;margin-left: 20px; "></i>    -->
        <app-sidebar></app-sidebar>
        <app-iniciar-sesion></app-iniciar-sesion>
    </ng-template>
</p-menubar>