<div class="fondo_componente">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="titulo-principal">
                <h2 class="titulo_componente animation1">RASTREO SATELITAL</h2>
            </div>
        </div>
    </div>
    <div class="servicio">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-1">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-5">
                <img class=" imagen-gabi img-fluid" src="assets/servicios/rastreo-satelital.png"
                    alt="inteligencia de negocios">
                <br><br><br>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-5 prueba">
                <div class="servicio-contenido">

                    <b>Localiza tu vehículo </b>
                    <br><br>
                    <p style="text-align: left;">
                        Con nuestro servicio de rastreo satelital ten en un solo lugar toda la información de tu
                        motorizado donde podrás ver la
                        ubicación exacta y el historial de recorrido con fechas y hora.
                        <br><br>
                        El servicio está disponible tambien para localizar personas.
                    </p>

                    <!-- <button pButton type="button" label="Solicitar un demo gratis"
                        style="font-weight: bold; border-radius: 50px;"></button> -->
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-1">
            </div>
        </div>
    </div>
    <div class="servicio">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-1">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-5">
                <div class="formulario-servicio thumbnail">
                    <div class="form-title">
                        <h3>Solicitar <b>servicio</b></h3>
                    </div>
                    <div class="form-contenido thumbnail">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-input form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Nombre">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-input form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-input form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Celular">
                            </div>

                            <div class="form-outline">
                                <textarea class="form-input  form-control" id="textAreaExample1" placeholder="Mensaje"
                                    rows="4"></textarea>
                            </div>
                            <br>
                            <button pButton type="button" label="Enviar" class="boton-servicio"></button>
                        </form>
                        <br>
                    </div>
                </div>
                <br><br><br>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-5">
                <div class="servicio-contenido2">
                    <b>Lograr un servicio de excelencia en productividad constante y optimizar tiempos de gestión es
                        posible con el uso correcto de la telemetría</b>
                    <br><br>
                    <p>No te preocupes, aqui te explicamos que quiere decir telemetria.
                        <br><br>
                        La telemetría es un sistema automatizado de comunicación (alámbrico o inalámbrico) que permite
                        recopilar datos en lugares remotos.
                        <br><br>
                        Uno de los principales beneficios de estos sistemas es
                        que permiten recoger datos de lugares remotos. Además con ellos se evita tener que desplazarse
                        al sitio para recoger la información.
                        <br><br>
                        A continuación te detallamos 5 de los principales beneficios
                        <br><br><br>
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-1">
            </div>
        </div>
    </div>
    <div class="servicio-relleno">
        <div class="row">
            <div class="col-sm-12 col-md-1 col-lg-2"></div>
            <div class="col-sm-12 col-md-10 col-lg-8">
                <b>5 PRINCIPALES BENEFICIOS DEL RASTREO SATELITAL </b>
                <br><br>
                <b>Mejora en seguridad</b>
                <br>
                <p>
                    Además de ayudar a promover hábitos de conducción más seguras al proporcionar datos y medidas de
                    conducción del vehículo, los gerentes de flotas pueden saber exactamente dónde se encuentra un
                    vehículo cuando pudiera requerir asistencia.
                    <br><br>
                    El tipo de vehículo no afecta la posibilidad de tener un geolocalizador confiable, adaptable y
                    seguro. Un ejemplo son las flotillas mixtas o de motocicletas; el robo de éstos vehículos ha
                    incrementado de manera considerable en el país. Un localizador GPS es sumamente útil, ya que además
                    del rastreo satelital, el software permite controlar el encendido de motor en caso de atraco.
                    <br><br>
                    Otra situación ejemplar es cuando un vehículo se ha descompuesto o está en una situación de
                    emergencia, los administradores pueden enviar asistencia en carretera para ayudar a su conductor.
                </p>

                <b>Reducción en costos de combustible</b>
                <br>
                <p>
                    Sabemos que es imposible controlar el precio del combustible o su venta ilegal en huachicoleo, un
                    crimen que transporta cerca del 20% del crudo nacional y afecta a todos los consumidores. La
                    intervención benéfica de la telemetría sucede con la capacidad de interpretar y analizar el
                    rendimiento de combustible de un vehículo. Director ™ es un software de monitoreo que ayuda a
                    reducir la cantidad de dinero que se gasta en esta área mediante la eliminación de tiempos inactivos
                    del vehículo, el exceso de velocidad del conductor y el uso no autorizado.
                </p>

                <b>Prevención y detección de siniestros</b>
                <br>
                <p>
                    Si uno de los vehículos de tu flota, cajas o mercancía es robada, Director ™ y su localizador GPS es
                    la mejor herramienta para que cualquier empresa pueda reaccionar a tiempo y tomar decisiones de cómo
                    recuperarlo y reportarlo eficientemente. Se notifica con alertas en tiempo real, botones de pánico y
                    datos en mapas para ayudar a identificar si el vehículo ha sido robado o afectado por un siniestro,
                    para que procedan a informar a las autoridades de su ubicación y permitir una rápida recuperación.
                    Puedes conocer más sobre nuestros casos de éxito de nuestros clientes.
                </p>

                <b>Reducción de costos operativos</b>
                <br>
                <p>
                    El uso de un software administrador de flotas con rastreo GPS permite a los administradores ver que
                    rutas se están utilizando y si son ineficientes o bien si se está utilizando un vehículo para fines
                    no autorizados. El uso de telemática, aparte de ayudar sobre las problemas en la carretera,
                    proporciona detalles específicos de las horas que los conductores han trabajado.
                    <br><br>
                    De acuerdo con estadísticas, cada año los accidentes viales cobran la vida de 16 mil 500 vidas en
                    promedio y le cuestan al país alrededor de 150 mil millones de pesos, lo cual representa el 1.7% del
                    Producto Interno Bruto. Por ello es importante conocer los hábitos y tendencias de conducción para
                    aumentar seguridad y productividad.
                </p>

                <b>Aumentar la productividad</b>
                <br>
                <p>
                    Debido a la capacidad de seguimiento de las horas de conducción trabajadas, también permite a los
                    gerentes de flotas hacer un mejor uso del tiempo de un empleado. Director ™ y su característico
                    sistema de rastreo GPS muestra la ubicación de los conductores en todo momento y mantiene un
                    registro de lo que están haciendo, así como el trabajo que han completado.
                    <br><br>
                    Para ayudar que tu flota alcance su máximo potencial, solicita una demostración o llama al
                    01-800-555-0550 para que compruebes lo que una solución telemática puede lograr al aliarse a los
                    procesos de tu gestión.
                </p>
            </div>
            <div class="col-sm-12 col-md-1 col-lg-2"></div>

        </div>
    </div>
</div>