
<div  style="background: #ffffff; width: 100%; height: 100%; text-align: center; padding-bottom: 20px;">
    <br >
    <div  class="row" style="margin: 0px;">
        <div  class="col-lg-3 col-md-6 col-sm-12">
            <div  class="row">
                <div  class="col-12" style="font-weight: bold; margin-bottom: 10px;">
                    <img  routerLink="menu/inteligencia_negocio" src="assets/icono/principal/inteligencia-de-negocios.png" height="55" class="imgzoom p-mr-2 ng-star-inserted" style="width: 100px; height: 100px;">
                </div>
                <div  class="col-12">
                    <p  style="font-weight: bold; color: #104068; text-shadow: 0.07em 0.03em 0.1em rgb(133, 127, 127);"> 
                        Inteligencia de Negocios 
                    </p>
                </div>
                <div  class="col-12 texto-icono-slider"> 
                    Combina análisis de negocios, minería de datos, visualización de datos, herramientas e infraestructura de datos, y las prácticas recomendadas para ayudar a las organizaciones a tomar decisiones 
                </div>
            </div>
        </div>
        <div  class="col-lg-3 col-md-6 col-sm-12">
            <div  class="row">
                <div  class="col-12" style="font-weight: bold; margin-bottom: 10px;">
                    <img  routerLink="menu/rastreo-satelital" src="assets/icono/principal/rastreo-satelital.png" height="55" class="imgzoom p-mr-2 ng-star-inserted" style="width: 100px; height: 100px;">
                </div>
                <div  class="col-12" style="font-weight: bold;">
                    <p  style="font-weight: bold; color: #104068; text-shadow: 0.07em 0.03em 0.1em rgb(133, 127, 127);"> 
                        Rastreo Satelital 
                    </p>
                </div>
                <div  class="col-12 texto-icono-slider"> 
                    Determina la ubicación de los vehículos (autos, camiones, entre otros) en tiempo real, a través de sistemas de geolocalización. Estos sistemas de rastreo satelital vehicular tienen la última tecnología desarrollada dentro del mercado. 
                </div>
            </div>
        </div>
        <div  class="col-lg-3 col-md-6 col-sm-12">
            <div  class="row">
                <div  class="col-12" style="font-weight: bold; margin-bottom: 10px;">
                    <img routerLink="menu/desarrollo_software" src="assets/icono/principal/desarrollo-de-software.png" height="55" class="imgzoom p-mr-2 ng-star-inserted" style="width: 100px; height: 100px;">
                </div>
                <div  class="col-12" style="font-weight: bold;">
                    <p  style="font-weight: bold; color: #104068; text-shadow: 0.07em 0.03em 0.1em rgb(133, 127, 127);"> 
                        Desarrollo de software y asesoria 
                    </p>
                </div>
                <div  class="col-12 texto-icono-slider"> 
                    En la actualidad nos encontramos con cambios vertiginosos en todas las áreas, donde la competitividad se acrecienta y las empresas depende de un mejor control sobre su actividad, servicio y tomar posiciones en el mercado. 
                </div>
            </div>
        </div>
        <div  class="col-lg-3 col-md-6 col-sm-12">
            <div  class="row">
                <div  class="col-12" style="font-weight: bold; margin-bottom: 10px;">
                    <img routerLink="menu/diseno_web" src="assets/icono/principal/diseno-web.png" height="55" class="imgzoom p-mr-2 ng-star-inserted" style="width: 100px; height: 100px;">
                </div>
                <div  class="col-12" style="font-weight: bold;">
                    <p  style="font-weight: bold; color: #104068; text-shadow: 0.07em 0.03em 0.1em rgb(133, 127, 127);"> 
                        Diseño web 
                    </p>
                </div>
                <div  class="col-12 texto-icono-slider"> 
                    En la actualidad nos encontramos con cambios vertiginosos en todas las áreas, donde la competitividad se acrecienta y las empresas depende de un mejor control sobre su actividad, servicio y tomar posiciones en el mercado. 
                </div>
            </div>
        </div>
    </div>
</div>






    <div style="background: #016CBA; width: 100%; height: 100%; text-align: center; padding-bottom: 20px; border-top: 4px solid #007bff;"><br>
        <div class="row" style="margin: 0px;">
            <div class="col-12">
                <!-- <img src="assets/logo/logo_blanco.png" style="height: 80px;"> -->
            </div>
        </div>
        <div class="row" style="margin: 0px; padding-bottom: 20px;">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-12" style="color: white; font-weight: 700; font-size: 15px; display: flex; justify-content: center;">
                        <div style="width: 50%; text-align: left;"> 
                            UBICACIÓN 
                        </div>
                    </div>
                    <div class="col-12" style="color: white; font-weight: 640; font-size: 12px; margin-top: 12px; display: flex; justify-content: center;">
                        <div style="width: 50%; text-align: left;"> 
                            Dirección 
                        </div>
                    </div>
                    <div class="col-12" style="color: white; font-weight: 200; font-size: 12px; display: flex; justify-content: center;">
                        <div style="width: 50%; text-align: left;"> 
                            Av. Blanco Galindo Km 8.5 al norte una cuadra 
                        </div>
                    </div>
                    <div class="col-12" style="color: white; font-weight: 640; font-size: 12px; margin-top: 12px; display: flex; justify-content: center;">
                        <div style="width: 50%; text-align: left;"> 
                            Celular 
                        </div>
                    </div>
                    <div class="col-12" style="color: white; font-weight: 200; font-size: 12px; display: flex; justify-content: center;">
                        <div style="width: 50%; text-align: left;"> 
                            77444482 
                        </div>
                    </div>
                    <div class="col-12" style="color: white; font-weight: 640; font-size: 12px; margin-top: 12px; display: flex; justify-content: center;">
                        <div style="width: 50%; text-align: left;"> 
                            Correo 
                        </div>
                    </div>
                    <div class="col-12" style="color: white; font-weight: 200; font-size: 12px; display: flex; justify-content: center;">
                        <div style="width: 50%; text-align: left;"> 
                            Propioj@gmail.com 
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="row" style="padding-top: 2px;">
                    <div class="col-12" style="color: white; font-weight: 700; font-size: 15px;"> 
                        NUESTRAS REDES SOCIALES 
                    </div>
                </div>
                <div class="row" style="padding-top: 30px; padding-bottom: 20px;">
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <img src="assets/icono/redes_sociales/facebook.svg" class="imgzoom" style="height: 50px;">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <img src="assets/icono/redes_sociales/instagram.svg" class="imgzoom" style="height: 50px;">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <img src="assets/icono/redes_sociales/tiktok.svg" class="imgzoom" style="height: 50px;">
                    </div><div class="col-lg-3 col-md-3 col-sm-12">
                        <img src="assets/icono/redes_sociales/youtube.svg" class="imgzoom" style="height: 50px;">
                    </div></div></div><div class="col-lg-4 col-md-12 col-sm-12" style="text-align: left;">
                        <div class="row">
                            <div class="col-12" style="color: white; font-weight: 700; font-size: 15px; display: flex; justify-content: center;">
                                <div style="margin-left: 20px; margin-right: 20px; width: 50%;"> 
                                    SOBRE NOSOTROS 
                                </div>
                            </div>
                            <div class="col-12" style="color: white; font-weight: 200; font-size: 12px; margin-top: 12px; display: flex; justify-content: center;">
                                <div style="margin-left: 20px; margin-right: 20px; width: 50%; text-align: left;"> 
                                    Con la técnologia adecuada, innovación precisa y los requerimientos claros de nuestros clientes, se crean maravillosas aplicaciones y paginas webs que optimizan sus procedimientos 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin: 0px;">
                    <div class="col-12" style="border-top: 1px solid #83a1fd; padding-top: 15px; color: white; font-size: 12px; font-weight: 600;"> 
                        Rsoli 2021 Reservados todos los derechos 
                    </div>
                </div>
    </div>
     