<div style="background: #ffffff; width: 100%; height: 100%; text-align: center; padding-bottom: 20px;">
    <br><br><br><br>
    <div class="row" style="margin: 0px;">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="row">
                <div class="col-12" style="font-weight: bold; margin-bottom: 10px;">
                    <img routerLink="menu/inteligencia_negocio"
                        src="assets/icono/principal/inteligencia-de-negocios.png" height="55"
                        class="imgzoom p-mr-2 ng-star-inserted" style="width: 100px; height: 100px;">
                </div>
                <div class="col-12">
                    <p style="font-weight: bold; color: #104068; text-shadow: 0.07em 0.03em 0.1em rgb(133, 127, 127);">
                        Inteligencia de Negocios
                    </p>
                </div>
                <div class="col-12 texto-icono-slider">
                    Combina análisis de negocios, minería de datos, visualización de datos, herramientas e
                    infraestructura de datos, y las prácticas recomendadas para ayudar a las organizaciones a tomar
                    decisiones

                </div>

            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="row">
                <div class="col-12" style="font-weight: bold; margin-bottom: 10px;">
                    <img routerLink="menu/rastreo-satelital" src="assets/icono/principal/rastreo-satelital.png"
                        height="55" class="imgzoom p-mr-2 ng-star-inserted" style="width: 100px; height: 100px;">
                </div>
                <div class="col-12" style="font-weight: bold;">
                    <p style="font-weight: bold; color: #104068; text-shadow: 0.07em 0.03em 0.1em rgb(133, 127, 127);">
                        Rastreo Satelital
                    </p>
                </div>
                <div class="col-12 texto-icono-slider">
                    Determina la ubicación de los vehículos (autos, camiones, entre otros) en tiempo real, a través de
                    sistemas de geolocalización. Estos sistemas de rastreo satelital vehicular tienen la última
                    tecnología desarrollada dentro del mercado.
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="row">
                <div class="col-12" style="font-weight: bold; margin-bottom: 10px;">
                    <img routerLink="menu/desarrollo_software" src="assets/icono/principal/desarrollo-de-software.png"
                        height="55" class="imgzoom p-mr-2 ng-star-inserted" style="width: 100px; height: 100px;">
                </div>
                <div class="col-12" style="font-weight: bold;">
                    <p style="font-weight: bold; color: #104068; text-shadow: 0.07em 0.03em 0.1em rgb(133, 127, 127);">
                        Desarrollo de software y asesoria
                    </p>
                </div>
                <div class="col-12 texto-icono-slider">
                    En la actualidad nos encontramos con cambios vertiginosos en todas las áreas, donde la
                    competitividad se acrecienta y las empresas depende de un mejor control sobre su actividad, servicio
                    y tomar posiciones en el mercado.
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="row">
                <div class="col-12" style="font-weight: bold; margin-bottom: 10px;">
                    <img routerLink="menu/diseno_web" src="assets/icono/principal/diseno-web.png" height="55"
                        class="imgzoom p-mr-2 ng-star-inserted" style="width: 100px; height: 100px;">
                </div>
                <div class="col-12" style="font-weight: bold;">
                    <p style="font-weight: bold; color: #104068; text-shadow: 0.07em 0.03em 0.1em rgb(133, 127, 127);">
                        Diseño web
                    </p>
                </div>
                <div class="col-12 texto-icono-slider">
                    En la actualidad nos encontramos con cambios vertiginosos en todas las áreas, donde la
                    competitividad se acrecienta y las empresas depende de un mejor control sobre su actividad, servicio
                    y tomar posiciones en el mercado.
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
</div>

<div class="footer">

    <div class="container_footer">
        <div class=" box_footer1 logo_footer">
            <br><br>
            <div class="row">
                <div class="col-sm-12">
                    <div class="logo">
                        <img src="assets/logo/logoblanco.png" alt="logo rsoli.com " height="70"
                            class="imgzoom p-mr-2 ng-star-inserted">
                    </div>
                </div>

            </div>

        </div>
        <div class="box_footer">
            <h3 class="titulo-footer">SOBRE NOSOTROS</h3>
            <p class="contenido-footer">
                Somos un grupo de profesionales, <br>
                creadores en soluciones de software<br>
                a medida, enfocados en las tecnologías<br>
                más innovadoras y adaptables a las<br>
                necesidades de cada cliente en<br>
                tiempo record <br>
            </p>
        </div>
        <div class="box_footer">
            <h3 class="titulo-footer">UBICACIÓN</h3>
            <p class="subtitulo-footer"> Dirección</p>
            <p class="contenido-footer">Av. Blanco Galindo Km 8.5</p>
            <p class="subtitulo-footer">Correo</p>
            <p class="contenido-footer" href="#">Propioj@gmail.com</p>
            <br>
            <div class="inline">

                <a href="" target="_blank" class="icono-redsocial"><i
                        class="icono-social fab fa-facebook-square"></i></a>
                <a href="" target="_blank" class="icono-redsocial"><i class="icono-social fab fa-instagram"></i></a>
                <a href="" target="_blank" class="icono-redsocial"><i class="icono-social fab fa-tiktok"></i></a>
                <a href="" target="_blank" class="icono-redsocial"><i class="icono-social fab fa-whatsapp"></i></a>
                <a href="" target="_blank" class="icono-redsocial"><i class="icono-social far fa-envelope"></i></a>
            </div>
        </div>
        <div class="box_footer">
            <h3 class="titulo-footer">SEVICIOS</h3>

            <p class="contenido-footer">Inteligencia de negocios</p>
            <p class="contenido-footer">Rastreo satelital</p>
            <p class="contenido-footer">Desarrollo de software y asesoria</p>
            <p class="contenido-footer">Diseño web</p>
        </div>
    </div>
    <div class="box_copyright">
        <hr>
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="copyright">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        &copy;
                        <script>document.write(new Date().getFullYear());</script>
                        Rsoli 2021 &nbsp;<a href="#" style="color: #fff;"></a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </span>

                    <br><br>
                </div>
            </div>
            <!-- /row -->
        </div>
    </div>
</div>