<div header="Hero card">
    <div class="card">
		<div class="grid grid-nogutter text-800">
			<div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
				<section>
                    <h4 class="block font-bold mb-1">EN QUÉ CONSISTE NUESTRO SERVICIO?</h4>
					<p class="mt-0 mb-4 text-700 line-height-3">
						Consiste en la instalación de 1 dispositivo GPS en tu motorizado, el cual envía señal a 3 distintos satelites. <br>
                        Nuestros dispositivos GPS tienen garantía de 1 año.
					</p>
                    <a href="https://wa.me/message/I6YL67IQ64QCI1" target="_blank">
						<button pButton pRipple label="Más información" type="button" class="mr-3 mb-3 p-button-raised"></button>
					</a>
					<a href="https://wa.me/message/I6YL67IQ64QCI1" target="_blank">
						<button pButton pRipple label="Solicitar una Demo" type="button" class="mb-3 p-button-outlined"></button>
					</a>
				</section>
			</div>
			<div class="col-12 md:col-6 overflow-hidden flex align-items-center justify-content-center">
				<img [src]="'assets/varios/gps.png'" class="my-3 mx-0" alt="Rastreo satelital kolosu" style="width: 60%; display: block;"/>
			</div>
		</div>
	</div>
</div>
<br>
<div class="surface-section px-4 py-6 md:px-6 lg:px-8 text-center">
    <div class="mb-3 font-bold text-2xl">
        <span class="text-900">Como adquirir el </span>
        <span class="text-blue-600">servicio?</span>
    </div>
    <div class="text-700 text-sm mb-6">Sigue los siguientes pasos</div>
    <div class="grid">
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span>
            <div class="text-left">
                <div class="text-900 mb-3 font-medium">1. ELEGIR EL TIPO DE MOTORIZADO</div>
                <span class="text-700 text-sm line-height-3">
                    a. vehículo <br>
                    b. Motocicleta <br>
                    c. Personas o mascotas <br><br>
                    Escríbenos a nuestro whatsapp y elije el tipo de servicio que necesitas.
                    <br>
                    Te atenderemos a la brevedad posible.
                </span>
            </div>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-lock text-4xl text-blue-500"></i>
            </span>
            <div class="text-left">
                <div class="text-900 mb-3 font-medium">2. AGENDA UNA FECHA PARA LA INSTALACIÓN</div>
                <span class="text-700 text-sm line-height-3">
                    Sabemos lo valioso que es tu tiempo, por esta razón queremos optimizar tu tiempo y agendar una fecha y hora para evitar fila en espera.
                </span>
            </div>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-check-circle text-4xl text-blue-500"></i>
            </span>
            <div class="text-left">
                <div class="text-900 mb-3 font-medium">3. INSTALACIÓN</div>
                <span class="text-700 text-sm line-height-3">
                    La instalación demora 1 a 2 horas aproximadamente, dependiento el tipo de motorizado.
                    <br>
                    Realizamos instalaciones en todo el país, departamentos y provincias previa confirmación.
                </span>
            </div>
        </div>
        
    </div>
</div>


 