<p-overlayPanel #op 
[showCloseIcon]="true" 
[showTransitionOptions]="'0ms'" 
[hideTransitionOptions]="'0ms'" 
[dismissable]="dismisable" 
[style]="{width: '325px', 'margin-left': '5px'}" 
(onShow)="scrollToSelection()"
>
  <ng-template pTemplate="content">
    <div class="overlay-content">
      <div class="buttons-container">
        <div class="button-group" *ngFor="let btn of buttons">
          <p-button 
          [pTooltip]="!btn.disabled ? btn.tooltip : ''"
          tooltipPosition="top" 
          [icon]="btn.icon" 
          [styleClass]="btn.class" 
          [disabled]="btn.disabled"
          (click)="onButtonClick(btn.action)">
          </p-button>
          <p class="button-text">{{ btn.label }}</p>
        </div>
      </div>


      <div style="margin-bottom: 10px; text-align: center;">
        <div class="p-input-icon-left" style="width: 100%; max-width: 100%; margin: auto;">
          <i class="pi pi-search" style="margin-right: 5px;"></i>
          <input pInputText type="text"  (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar" class="p-inputtext-sm" style="width: 100%;">
        </div>
      </div>


      <p-table #dt 
      [value]="data"
      [scrollable]="true" 
      scrollHeight="250px" 

      [(selection)]="selectedRow"
      (onRowSelect)="onRowSelect($event)"
      (onRowUnselect)="onRowUnselect($event)"
      selectionMode="single" 

      [virtualScroll]="true"
      [virtualScrollItemSize]="46"
      [paginator]="false" 
      [rows]="10"
      [globalFilterFields]="globalFilterFields"
      >
        <ng-template pTemplate="header">
          <tr>
            <ng-container *ngFor="let col of columns">
              <th *ngIf="col.visibleTable !== false">{{ col.header }}</th>
            </ng-container>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
          <tr  [pSelectableRow]="rowData">
            <ng-container *ngFor="let col of columns">
              <td *ngIf="col.visibleTable !== false">{{ rowData[col.field] }}</td>
            </ng-container>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </ng-template>
</p-overlayPanel>
