<div header="Hero">
   <div class="card">
		<div class="grid grid-nogutter text-800">
			<div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
				<section>
					<span class="block text-6xl font-bold mb-1">SERVICIO DE</span>
					<div class="text-6xl text-primary font-bold mb-3">RASTREO SATELITAL</div>
					<p class="mt-0 mb-4 text-700 line-height-3">Conocé el lugar exacto donde se encuentra tu motorizado 24/7 desde tu celular Android o iPhone.
						<br><br>
						Dispositivos GPS con garantía de 1 año.
					</p>

					<button pButton pRipple label="Comprar servicio" type="button" class="mr-3 mb-3 p-button-raised"></button>
					<button pButton pRipple label="Solicitar una Demo" type="button" class="mb-3 p-button-outlined"></button>
				</section>
			</div>
			<div class="col-12 md:col-6 overflow-hidden flex align-items-center justify-content-center">
				<img [src]="'assets/servicios/inicio.svg'" class="my-3 mx-0" alt="Rastreo satelital kolosu" style="width: 70%; display: block;"/>
			</div>
		</div>
   </div>
</div>
<div class="grid">
	<div class="col-12">
		<div class="">
			<div class="p-fluid p-formgrid grid">
				<div class="field col-12 md:col-6 flex align-items-center justify-content-center">
					<img [src]="'assets/servicios/tiposMotorizado.svg'" class=" my-3 mx-0" alt="Rastreo satelital kolosu" style="width: 40%; display: block;"/>
				</div>
				<div class="field col-12 md:col-6 flex align-items-center justify-content-center">
					<div class="grid">
						<div class="col-12 ">
							<div class="pl-6 pr-6 pt-6">
								<h3 style="font-weight: bold;">PARA TODO TIPO DE MOTORIZADOS</h3>
								<p>Sabías que en Bolivia cada día se roban 13 motorizados en promedio? 
									Con nuestro servicio de Rastreo Satelital tendrás el control 24/7.
								</p>
								<b class="text-primary font-bold mb-3">Aqui te mostramos algunos de los beneficios:</b> 
							</div>
						</div>
						<div class="col-12 md:col-12 text-center md:text-left flex align-items-center">
							<div class="pl-6 pr-6">
								<!-- <button pButton pRipple label="Contactar a un vendedor" type="button" class="mr-3 p-button-raised"></button> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="grid">
	<div class="col-12">
		<div class="card">
			<div class="p-fluid p-formgrid grid">
				<div class="field col-12 md:col-6 flex align-items-center justify-content-center">
					<div class="grid">
						<div class="col-12 ">
							<div class="pl-6 pr-6 pt-3">
								<h3 style="font-weight: bold;">1. UBICACIÓN EXACTA EN TIEMPO REAL</h3>
								<p>Podrás monitorear la ubicación precisa de tu motorizado, necesaria para la toma de 
									decisiones y calcular los tiempos de llegada, muy necesarios para la 
									entrega de pedidos o materiales de tu trabajo.
								</p>
								
							</div>
						</div>
						<div class="col-12 md:col-12 text-center md:text-left flex align-items-center">
							<div class="pl-6 pr-6">
								<button pButton pRipple label="Más información" type="button" class="mr-3 p-button-raised"></button>
							</div>
						</div>
					</div>
				</div>
				<div class="field col-12 md:col-6 flex align-items-center justify-content-center">
					<img [src]="'assets/servicios/tiempo-real.svg'" class="my-3 mx-0" alt="Rastreo satelital kolosu" style="width: 40%; display: block;"/>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="grid">
	<div class="col-12">
		<div class="p-fluid p-formgrid grid">
			<div class="field col-12 md:col-6 flex align-items-center justify-content-center">
				<img [src]="'assets/servicios/rutas.svg'" class=" my-3 mx-0" alt="Rastreo satelital kolosu" style="width: 40%; display: block;"/>
			</div>
			<div class="field col-12 md:col-6 flex align-items-center justify-content-center">
				<div class="grid">
					<div class="col-12 ">
						<div class="pl-6 pr-6 pt-6">
							
							<h3 style="font-weight: bold;">2. HISTORIAL DE RUTAS</h3>
							<p>Tendrás los reportes de rutas de días pasados con hasta 6 meses de antigüedad,
								necesarios para conocer los puntos de parada, distancia recorrida y tiempos.
								<br>
								Ésta información ayuda a la toma de desiciones sobre todo el recorrido diario.
							</p>
						</div>
					</div>
					<div class="col-12 md:col-12 text-center md:text-left flex align-items-center">
						<div class="pl-6 pr-6">
							<button pButton pRipple label="Más información" type="button" class="mr-3 p-button-raised"></button>
						</div>
					</div>
				</div>
			</div>				
		</div>
	</div>
</div>
<div class="grid">
	<div class="col-12">
		<div class="card">
			<div class="p-fluid p-formgrid grid">
				<div class="field col-12 md:col-6 flex align-items-center justify-content-center">
					<div class="grid">
						<div class="col-12 ">
							<div class="pl-6 pr-6 pt-6">
								<h3 style="font-weight: bold;">3. COBERTURA NACIONAL E INTERNACIONAL</h3>
								<p>Monitorea tu vehículo en toda Bolivia y países de Sudamérica, servicio 
									ideal para empresas que realizan entregas de importación y exportación 
									con una aplicación muy intuitiva y de fácil manejo. 
								</p>
							</div>
						</div>
						<div class="col-12 md:col-12 text-center md:text-left flex align-items-center">
							<div class="pl-6 pr-6">
								<button pButton pRipple label="Más información" type="button" class="mr-3 p-button-raised"></button>
							</div>
						</div>
					</div>
				</div>
				<div class="field col-12 md:col-6 flex align-items-center justify-content-center">
					<img [src]="'assets/servicios/nacional-internacional.svg'" class=" my-3 mx-0" alt="Rastreo satelital kolosu" style="width: 40%; display: block;"/>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="grid">
	<div class="col-12">
		<div class="p-fluid p-formgrid grid">
			<div class="field col-12 md:col-6 flex align-items-center justify-content-center">
				<img [src]="'assets/servicios/geocerca.svg'" class=" my-3 mx-0" alt="Rastreo satelital kolosu" style="width: 55%; display: block;"/>
			</div>
			<div class="field col-12 md:col-6 flex align-items-center justify-content-center">
				<div class="grid">
					<div class="col-12 ">
						<div class="pl-6 pr-6 pt-6">
							
							<h3 style="font-weight: bold;">4. GEOCERCA CON NOTIFICACIONES</h3>
							<p>Podrás monitorear la ubicación precisa de tu motorizado, necesaria para la toma de 
								decisiones y calcular los tiempos de llegada, muy necesarios para la 
								entrega de pedidos o materiales de tu trabajo.
							</p>
						</div>
					</div>
					<div class="col-12 md:col-12 text-center md:text-left flex align-items-center">
						<div class="pl-6 pr-6">
							<button pButton pRipple label="Más información" type="button" class="mr-3 p-button-raised"></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="grid">
	<div class="col-12">
		<div class="card">
			<div class="p-fluid p-formgrid grid">
				<div class="field col-12 md:col-6 flex align-items-center justify-content-center">
					<div class="grid">
						<div class="col-12 ">
							<div class="pl-6 pr-6 pt-6">
								
								<h3 style="font-weight: bold;">5. BLOQUEO DEL ENCENDIDO DEL MOTOR DESDE TU CELULAR</h3>
								<p>
									En caso extremo de robo, podrás apagar tu motorizado desde tu celular, ésto con el objetivo de 
									recuperar tu motorizado. 
									<br><br>
									Disponible para Android o iPhone.
								</p>
							</div>
						</div>
						<div class="col-12 md:col-12 text-center md:text-left flex align-items-center">
							<div class="pl-6 pr-6 ">
								<button pButton pRipple label="Más información" type="button" class="mr-3 p-button-raised"></button>
							</div>
						</div>
					</div>
				</div>
				<div class="field col-12 md:col-6 flex align-items-center justify-content-center">
					<img [src]="'assets/servicios/bloqueo-motor.svg'" class=" my-3 mx-0" alt="Rastreo satelital kolosu" style="width: 40%; display: block;"/>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="grid">
	<div class="col-12">
		<div class="p-fluid p-formgrid grid">
			
			<div class="field col-12 md:col-6 flex align-items-center justify-content-center">
				<img [src]="'assets/servicios/familia.svg'" class=" my-3 mx-0" alt="Rastreo satelital kolosu" style="width: 40%; display: block;"/>
			</div>
			<div class="field col-12 md:col-6 flex align-items-center justify-content-center">
				<div class="grid">
					<div class="col-12 ">
						<div class="pl-6 pr-6 pt-6">
							
							<h3 style="font-weight: bold;">6. RASTREO SATELITAL PARA LOCALIZAR A TUS SERES QUERIDOS</h3>
							<p>
								La prevención siempre es mejor que una mala noticia,
								Cuida a tus seres queridos y conoce su ubicación exacta
								en tiempo real.
								<br><br>
								Contamos con dispositivos GPS, compactos y con batería con 3 a 7 días de duración, el cual podría ser utlizado
								como collar 
								
							</p>
						</div>
					</div>
					<div class="col-12 md:col-12 text-center md:text-left flex align-items-center">
						<div class="pl-6 pr-6 ">
							<button pButton pRipple label="Más información" type="button" class="mr-3 p-button-raised"></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

