<div header="Hero">
   <div class="card">
		<div class="grid grid-nogutter text-800">
			<div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
				<section>
					<span class="block text-6xl font-bold mb-1">SERVICIO DE</span>
					<div class="text-6xl text-primary font-bold mb-3">RASTREO SATELITAL</div>
					<p class="mt-0 mb-4 text-700 line-height-3">
						Conoce en tiempo real la ubicación exacta de tu vehículo, las 24 horas del día, desde tu celular Android o iPhone
						<br><br>
						Dispositivos GPS con garantía de 2 años
					</p>
					<a href="https://wa.me/message/I6YL67IQ64QCI1" target="_blank">
						<button pButton pRipple label="Descargar la App" type="button" class="mr-3 mb-3 p-button-raised"></button>
					</a>
					<a href="https://wa.me/message/I6YL67IQ64QCI1" target="_blank">
						<button pButton pRipple label="Solicitar una Demo" type="button" class="mb-3 p-button-outlined"></button>
					</a>
				</section>
			</div>
			<div class="col-12 md:col-6 overflow-hidden flex align-items-center justify-content-center">
				<img [src]="'assets/servicios/home.svg'" class="my-3 mx-0" alt="Rastreo satelital kolosu" style="width: 70%; display: block;"/>
			</div>
		</div>
   </div>
</div>
<div class="grid">
	<div class="col-12">
		<div class="">
			<div class="p-fluid p-formgrid grid">
				<div class="field col-12 md:col-6 flex align-items-center justify-content-center">
					<img [src]="'assets/servicios/tipo-motorizado.svg'" class=" my-3 mx-0" alt="Rastreo satelital kolosu" style="width: 70%; display: block;"/>
				</div>
				<div class="field col-12 md:col-6 flex align-items-center justify-content-center">
					<div class="grid">
						<div class="col-12 ">
							<div class="pl-6 pr-6 pt-6">
								<b class="text-primary font-bold mb-3">¿Por qué elegir nuestro servicio de rastreo satelital?</b> 

								<h3 style="font-weight: bold;">1. PARA TODO TIPO DE MOTORIZADOS</h3>
								<p>En Bolivia, se reportan un promedio de 13 robos de vehículos al día. Con nuestro servicio de Rastreo Satelital, podrás mantener el control 24/7 sobre la ubicación de tu motorizado, minimizando riesgos y aumentando tu seguridad

								</p>
							</div>
						</div>
						<div class="col-12 md:col-12 text-center md:text-left flex align-items-center">
							<div class="pl-6 pr-6">
								<!-- <button pButton pRipple label="Contactar a un vendedor" type="button" class="mr-3 p-button-raised"></button> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="grid">
	<div class="col-12">
		<div class="card">
			<div class="p-fluid p-formgrid grid">
				<div class="field col-12 md:col-6 flex align-items-center justify-content-center">
					<div class="grid">
						<div class="col-12 ">
							<div class="pl-6 pr-6 pt-3">
								<h3 style="font-weight: bold;">2. UBICACIÓN EXACTA EN TIEMPO REAL</h3>
								<p>Monitorea la ubicación exacta de tu vehículo cuando lo necesites. Ideal para tomar decisiones estratégicas y calcular tiempos de llegada, este servicio es perfecto para entregas puntuales de pedidos o materiales importantes para tu negocio
								</p>
								
							</div>
						</div>
						
					</div>
				</div>
				<div class="field col-12 md:col-6 flex align-items-center justify-content-center">
					<img [src]="'assets/servicios/ubicacion.svg'" class="my-3 mx-0" alt="Rastreo satelital kolosu" style="width: 60%; display: block;"/>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="grid">
	<div class="col-12">
		<div class="p-fluid p-formgrid grid">
			<div class="field col-12 md:col-6 flex align-items-center justify-content-center">
				<img [src]="'assets/servicios/historial.svg'" class=" my-3 mx-0" alt="Rastreo satelital kolosu" style="width: 50%; display: block;"/>
			</div>
			<div class="field col-12 md:col-6 flex align-items-center justify-content-center">
				<div class="grid">
					<div class="col-12 ">
						<div class="pl-6 pr-6 pt-6">
							
							<h3 style="font-weight: bold;">3. HISTORIAL DE RUTAS</h3>
							<p>Accede a reportes detallados de rutas con hasta 6 meses de antigüedad. Obtén información sobre paradas, distancias recorridas y tiempos de tránsito, ayudándote a optimizar tus operaciones diarias y mejorar la eficiencia
							</p>
						</div>
					</div>
				</div>
			</div>				
		</div>
	</div>
</div>
<div class="grid">
	<div class="col-12">
		<div class="card">
			<div class="p-fluid p-formgrid grid">
				<div class="field col-12 md:col-6 flex align-items-center justify-content-center">
					<div class="grid">
						<div class="col-12 ">
							<div class="pl-6 pr-6 pt-6">
								<h3 style="font-weight: bold;">4. COBERTURA NACIONAL E INTERNACIONAL</h3>
								<p>Realiza un seguimiento continuo de tu vehículo en Bolivia y en otros países de Sudamérica. Este servicio es ideal para empresas de importación y exportación, con una aplicación intuitiva y fácil de manejar, que asegura que siempre estarás informado 
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="field col-12 md:col-6 flex align-items-center justify-content-center">
					<img [src]="'assets/servicios/nacional.svg'" class=" my-3 mx-0" alt="Rastreo satelital kolosu" style="width: 70%; display: block;"/>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="grid">
	<div class="col-12">
		<div class="p-fluid p-formgrid grid">
			<div class="field col-12 md:col-6 flex align-items-center justify-content-center">
				<img [src]="'assets/servicios/notificaciones.svg'" class=" my-3 mx-0" alt="Rastreo satelital kolosu" style="width: 70%; display: block;"/>
			</div>
			<div class="field col-12 md:col-6 flex align-items-center justify-content-center">
				<div class="grid">
					<div class="col-12 ">
						<div class="pl-6 pr-6 pt-6">
							
							<h3 style="font-weight: bold;">5. NOTIFICACIONES PERSONALIZADAS</h3>
							<p> <b>Geocerca, batería baja, extracción de batería, remolque y mucho más</b> <br> Define áreas de seguridad y recibe alertas instantáneas cuando tu vehículo entre o salga de esas zonas. Perfecto para planificar entregas o mejorar la seguridad de tus activos y equipo
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="grid">
	<div class="col-12">
		<div class="card">
			<div class="p-fluid p-formgrid grid">
				<div class="field col-12 md:col-6 flex align-items-center justify-content-center">
					<div class="grid">
						<div class="col-12 ">
							<div class="pl-6 pr-6 pt-6">
								
								<h3 style="font-weight: bold;">6. BLOQUEO REMOTO DEL MOTOR</h3>
								<p>
									En caso de robo, podrás desactivar el motor de tu vehículo de forma remota desde tu celular, aumentando las posibilidades de recuperación y protegiendo tu inversión.

								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="field col-12 md:col-6 flex align-items-center justify-content-center">
					<img [src]="'assets/servicios/bloqueo.svg'" class=" my-3 mx-0" alt="Rastreo satelital kolosu" style="width: 30%; display: block;"/>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="grid">
	<div class="col-12">
		<div class="p-fluid p-formgrid grid">
			
			<div class="field col-12 md:col-6 flex align-items-center justify-content-center">
				<img [src]="'assets/servicios/seres-queridos.svg'" class=" my-3 mx-0" alt="Rastreo satelital kolosu" style="width: 40%; display: block;"/>
			</div>
			<div class="field col-12 md:col-6 flex align-items-center justify-content-center">
				<div class="grid">
					<div class="col-12 ">
						<div class="pl-6 pr-6 pt-6">
							
							<h3 style="font-weight: bold;">7. PROTECCIÓN PARA TUS SERES QUERIDOS</h3>
							<p>La prevención es esencial. Con nuestros dispositivos GPS compactos y de batería de larga duración (3 a 7 días), puedes proteger a tus seres queridos y conocer su ubicación en tiempo real. Ideal para mantener la tranquilidad y seguridad de quienes más te importan
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="grid">
	<div class="col-12">
		<div class="card">
			<div class="p-fluid p-formgrid grid">
				<div class="field col-12 md:col-6 flex align-items-center justify-content-center">
					<div class="grid">
						<div class="col-12 ">
							<div class="pl-6 pr-6 pt-6">
								
								<h3 style="font-weight: bold;">8. INSTALACIÓN Y ENTREGAS EN TODO EL PAÍS</h3>
								<p>
									En nuestra empresa, entendemos la importancia de brindar servicios de instalación en todas las regiones de nuestro país. Contamos con un equipo altamente capacitado y una sólida infraestructura que nos permite atender a clientes en cada uno de los departamentos y provincias, sin importar su ubicación
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="field col-12 md:col-6 flex align-items-center justify-content-center">
					<img [src]="'assets/servicios/bolivia.svg'" class=" my-3 mx-0" alt="Rastreo satelital kolosu" style="width: 55%; display: block;"/>
				</div>
			</div>
		</div>
	</div>
</div>

