<style>
    .boton-header{
        font-weight: 600 !important; 
        font-size: 20px;
        background-color: #001c7800 !important; 
        border: #fff 3px solid !important; 
        border-radius: 2px !important;
        padding: 10px 15px 10px 15px;
        color: #fff;
    }
</style>

<p-menubar [model]="items">
    <ng-template pTemplate="start">
        <img src="./assets/logos/logoBlanco.png" height="70" class="mr-2">
    </ng-template>
    <ng-template pTemplate="end">
        <div >
            <button class="boton-header" type="button">Iniciar sesión</button>
        </div>
    </ng-template> 
</p-menubar>



