<div class="contacto">

    <div class="mapa">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3026.3461761576004!2d-74.51919768428849!3d40.66634084834391!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3bc6bffffffff%3A0xec00c974095855db!2sAna%20Rsoli!5e0!3m2!1ses!2sbo!4v1633191860300!5m2!1ses!2sbo"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy">
        </iframe>
    </div>
    <section class="presentacion">
        <div class="container">
            <div class="flex-item1">
                <h1>AGENCIA DE MARKETING DIGITAL Y CREACIÓN DE CONTENIDO PARA REDES SOCIALES</h1>
                <br>
                <div>
                    <button class="btn-principal" type="submit">COMUNICATE</button>
                    <button class="btn-secundario" type="submit">PORTAFOLIO</button>
                </div>
            </div>
            <div class="flex-item2">
                <img src="assets/icono/principal/diseno-web.png" alt="caratula" width="500" height="400">
            </div>
        </div>
    </section>
</div>