

.mapa{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 0 20px 0 20px;

}
.formulario{
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}
.form-title{
    width: 100%;
    background-color: #0973E5;
    color: #fff;
    display: flex;
    padding: 20px 20px 20px 55px;
}
.form-contenido{
    padding: 30px 20px 20px 30px;
    border:solid 2px rgb(241, 241, 241);
}
.input{
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    margin: 10px 0px 0px 0px;
    max-width: 600px;
}
