iframe{
    height: 500px;
    width:100%;
}
.titulo{
    background-color: #0973E5;
    color: #fff;
    width: 210px;
    height: 60px;
    display: table-cell;
    vertical-align:middle;
    /* margin-left:50px; */
}
.presentacion {
    background-color: #482359;
    padding-top: 120px;
    padding-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
.presentacion .flex-item2 {
    text-align: center;
}
  
.presentacion h1 {
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
    padding-right: 20px;
    font-size: 3rem;
}
  
.presentacion p {
    padding-right: 20px;
    padding-bottom: 10px;
}
