<div class="fondo_componente">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-md-12 d-flex justify-content-center">
                <div class="titulo-principal">
                    <h2 class="titulo_componente"> SOBRE NOSOTROS</h2>
                    <br><br><br>
                </div>
            </div>
        </div>
        <div class="row " style="text-align: center;">
            <div class="col-sm-12 col-md-1 col-lg-2">
            </div>
            <div class="col-sm-12 col-md-5 col-lg-4 d-flex justify-content-center">
                <div class="mision">
                    <div class="mision-titulo">
                        <h4>MISIÓN</h4>
                    </div>
                    <div class="mision-contenido">
                        Somos un grupo de profesionales que brinda soluciones de software a medida, enfocados en las
                        tecnologías
                        más innovadoras y adaptables a las necesidades de cada cliente, con el objetivo principal de
                        incrementar su competitividad, productividad y éxito.
                    </div>
                </div>
            </div>
            <br><br>.
            <div class="col-sm-12 col-md-5 col-lg-4 d-flex justify-content-center">
                <div class="mision">
                    <div class="mision-titulo">
                        <h4>VISIÓN</h4>
                    </div>
                    <div class="mision-contenido">
                        Ser una empresa líder en desarrollo de tecnologías, reconocidos a nivel nacional e internacional
                        por proporcionar soluciones optimas con una constante mejora, adaptadas a las necesidades de
                        nuestros clientes en tiempo record.
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-1 col-lg-2">
            </div>
        </div>
    </div>
</div>