.margen1{
  background-color: rgb(255, 255, 255);
  margin: 10px;
  height: 700px;
}
.margen2{
  background-color: rgb(255, 255, 255);
  margin: 10px !important;
  height: 700px !important;
}
.margen-mapa{
  padding:20px !important;
}
.margen-mapa_placa{
  padding:15px !important;
}
.margen-filtros{
  padding:30px !important;
  border-left: 4px solid #007bff !important;
}
#map2 {
  /* height: 100vw; */
  height: 100%;
  padding: 0%;
  width: 100%;
  z-index: 0;
}
.map_viaje {
  height: 70% !important;
  padding: 0% !important; ;
  width: 100% !important; ;
  z-index: 0 !important; ;
}
@media only screen and (max-width: 738px) {
  .margen1{
    background-color: rgb(255, 255, 255);
    margin: 10px;
    height: 600px;
  }
  .margen2{
    background-color: rgb(255, 255, 255);
    margin: 10px;
    height: 370px;
  }
} 
@media only screen and (max-width: 1246px) and (min-width: 739px)  {
  .margen{
    background-color: rgb(255, 255, 255);
    margin: 10px;
    height: 700px;
  }
}

