<div class="modal-header" style="border-top: 4px solid #007bff !important;">
    <h4 class="modal-title pull-left">{{titulo}}</h4>

    <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined" (click)="bsModalRef.hide()"></button>
</div>

<form [formGroup]="form_cliente" (submit)="GuardarCliente()">
    <div style="padding:20px 40px 20px 40px;" class="modal-body">

            <div class="col-lg-12">
                <label style="margin: 0px;padding: 0px;">
                    <span style="color: red;" *ngIf="form_cliente.controls['lista_personas_seleccionados'].errors?.required" >*</span>
                    <span style="color: green;" *ngIf="!form_cliente.controls['lista_personas_seleccionados'].errors?.required" > <i style="width: 10px;" class="fas fa-check"></i></span>
                    Persona
                </label>
                <p-dropdown [options]="lista_personas" formControlName="lista_personas_seleccionados" optionLabel="nombre" [filter]="true" filterBy="nombre,apellido_paterno,apellido_materno,ci"
                    [showClear]="true"  [autoDisplayFirst]="false" >
                    <ng-template let-lista_personas pTemplate="item">
                        <div class="country-item">
                            <div style="border-bottom: 1px solid #dee2e6;">
                                <span style="font-weight: bold;" >Nombre : </span> {{lista_personas.nombre}} <br/>
                                <span style="font-weight: bold;" >Ap. paterno : </span> {{lista_personas.apellido_paterno}} <br/>
                                <span style="font-weight: bold;" >Ap. materno : </span> {{lista_personas.apellido_materno}} <br/>
                                <span style="font-weight: bold;" >CI : </span> {{lista_personas.ci}} <br/>
                            </div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <label style="margin: 0px;padding: 0px;">
                    <span style="color: red;" *ngIf="form_cliente.controls['direccion'].errors" >*</span>
                    <span style="color: green;" *ngIf="!form_cliente.controls['direccion'].errors" > <i style="width: 10px;" class="fas fa-check"></i></span>
                    Dirección
                    </label>
             
                    <textarea pInputTextarea formControlName="direccion"></textarea>
                    <span class=" form-error text-danger small" *ngIf="form_cliente.controls['direccion'].errors?.maxlength">
                        Máximo caracteres permitidos 100
                    </span>
                </div>
            </div>

    
      

    </div>
    <div class="modal-footer">
        <div style="padding-left: 2px;">
            <button pButton pRipple type="submit" label="Guardar" class="p-button-raised" [disabled]="form_cliente.invalid" ></button>
        </div>
        <div>
            <button pButton pRipple type="button" label="Cancelar" class="p-button-raised p-button-danger" (click)="bsModalRef.hide()"></button>
        </div>
    </div>
</form>