<div class="modal-header" style="border-top: 4px solid #007bff !important;">
    <h4 class="modal-title pull-left">{{titulo}}</h4>

    <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined"
        (click)="bsModalRef.hide()"></button>
</div>

<form [formGroup]="form_departamento" (submit)="GuardarDepartamento()">
    <div style="padding:20px 40px 20px 40px;" class="modal-body">

        <div class="row">
            <label style="margin: 0px;padding: 0px;">
                <span style="color: red;" *ngIf="form_departamento.controls['nombre_departamento'].errors">*</span>
                <span style="color: green;" *ngIf="!form_departamento.controls['nombre_departamento'].errors"> <i
                        style="width: 10px;" class="fas fa-check"></i></span>
                Nombre departamento
            </label>
            <input type="text" pInputText formControlName="nombre_departamento">
            <span class=" form-error text-danger small"
                *ngIf="form_departamento.controls['nombre_departamento'].errors?.maxlength">
                Máximo caracteres permitidos 20
            </span>
        </div>
    </div>
    <div class="modal-footer">
        <div style="padding-left: 2px;">
            <button pButton pRipple type="submit" label="Guardar" class="p-button-raised"
                [disabled]="form_departamento.invalid"></button>
        </div>
        <div>
            <button pButton pRipple type="button" label="Cancelar" class="p-button-raised p-button-danger"
                (click)="bsModalRef.hide()"></button>
        </div>
    </div>
</form>