
    
    /* Ajustes para pantallas pequeñas */
    @media (max-width: 768px) {
        :host ::ng-deep .flex {
        flex-direction: column; /* Colocar elementos en una columna */
        align-items: flex-start;
        }
        
        :host ::ng-deep .p-input-icon-left {
        width: 100% !important; /* Asegura que el buscador ocupe todo el ancho en pantallas pequeñas */
        margin-top: 10px !important; /* Añade espacio entre el título y el buscador en modo móvil */
        }
        
        :host ::ng-deep input[pInputText] {
            width: 100% !important; /* El input debe ocupar todo el ancho */
        }


        .buttons-container {
            flex-direction: row; /* Mantener los botones en fila si hay espacio suficiente */
        }
        .button-group {
            margin-bottom: 10px; /* Añadir margen inferior si están en fila */
        }

    }




    .buttons-container {
        display: flex;              /* Alinear los grupos de botones en una fila */
        flex-wrap: wrap;           /* Permitir que los botones se envuelvan */
        justify-content: flex-start;/* Alinear botones al inicio */
        gap: 10px;                 /* Espacio entre los botones */
    }
    
    .button-group {
        display: flex;             /* Usar flex para alineación precisa */
        flex-direction: column;    /* Colocar el botón y texto verticalmente */
        align-items: center;       /* Alinear tanto el botón como el texto al centro */
    }
    


    /* Estilos generales para el cuadro de confirmación */
    :host ::ng-deep .p-confirm-dialog {
        max-width: 600px; /* Ancho máximo para el modo web normal */
        margin: auto; /* Centrar el diálogo */
    }

    /* Ajustes para dispositivos móviles */
    @media (max-width: 768px) {
        :host ::ng-deep .p-confirm-dialog {
            max-width: 90vw; /* Ancho máximo para móviles */
            width: 100%; /* Asegurarse de que ocupe el 100% del contenedor */
        }
        
        :host ::ng-deep .p-confirm-dialog .p-dialog-footer {
            display: flex;
            justify-content: space-between; /* Alinear botones a los lados */
            flex-wrap: wrap; /* Permitir que los botones se envuelvan si es necesario */
        }
        
        :host ::ng-deep .p-confirm-dialog .p-button {
            flex: 1 1 45%; /* Hacer que los botones sean un 45% del ancho del contenedor */
            margin: 0.5em; /* Espaciado entre botones */
        }
    }
  